.auto{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}
body {
	background-color: white;
    background-repeat: no-repeat;
    background-position: 650px 300px;
    width: 95%;
}
.logo {
    background-image: url("comet-gt-250.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  .texto {
    background-color: black;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }

  .desc{
    color: black;
    text-align: center;
    font-size: 30px;

  }
 .fundos{
    position: relative;
    top: -104px;
    left: 300px;
    background-repeat: no-repeat;

 }

 .gtr{
    position: relative;
    top: -208px;
    left: 700px;
    background-repeat: no-repeat;

 }

 .auto{
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
}

.gtr2{
    position: relative;
    top: -400px;
    left: 600px;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

.gtr3{
    position: relative;
    top: -400px;
    left: 600px;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.carb{
  position: relative;
  top: -800px;
  left: 75%;
  background-repeat: no-repeat;
  opacity: 0.9;

}

.gtrcarb{
  position: relative;
  top: -800px;
  left: 75%;
  background-repeat: no-repeat;
  opacity: 0.9;

}